<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{block "header" .}}{{end}}

    <h1>{{.Title}}</h1>
    {{template "paragraph" .Text}}
    {{template "paragraph" .Text}}
    {{template "paragraph" .Text}}
    <ul>
      {{range .Lines}}
        <li>{{.}}</li>
      {{end}}
    </ul>

    {{if eq .Number1 .Number2}}
      Numbers are equal
    {{else}}
      Numbers are not equal
    {{end}}

    <br/>

    {{block "content" .}}
    This is the default content
    {{end}}

    {{block "footer" .}}{{end}}
  </body>
</html>
